[submodule "m4"]
	path = m4
	url = https://github.com/geodynamics/autoconf_cig.git
[submodule "external_libs/ROCm-HIP-CPU"]
	path = external_libs/ROCm-HIP-CPU
	url = https://github.com/ROCm/HIP-CPU.git
